@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
}